$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?8e7bfe1f3c5bd8be71eceea2c9f8d932") format("truetype"),
url("./flaticon.woff?8e7bfe1f3c5bd8be71eceea2c9f8d932") format("woff"),
url("./flaticon.woff2?8e7bfe1f3c5bd8be71eceea2c9f8d932") format("woff2"),
url("./flaticon.eot?8e7bfe1f3c5bd8be71eceea2c9f8d932#iefix") format("embedded-opentype"),
url("./flaticon.svg?8e7bfe1f3c5bd8be71eceea2c9f8d932#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "buddhist-yoga-pose": "\f101",
    "dumbbells-exercise": "\f102",
    "exercise": "\f103",
    "fitness": "\f104",
    "gymnast-silhouette-standing-with-dumbbells": "\f105",
    "jumping-rope": "\f106",
    "man-boxing": "\f107",
    "man-doing-yoga-1": "\f108",
    "man-doing-yoga": "\f109",
    "pull-up": "\f10a",
    "weightlifting": "\f10b",
);

.flaticon-buddhist-yoga-pose:before {
    content: map-get($flaticon-map, "buddhist-yoga-pose");
}
.flaticon-dumbbells-exercise:before {
    content: map-get($flaticon-map, "dumbbells-exercise");
}
.flaticon-exercise:before {
    content: map-get($flaticon-map, "exercise");
}
.flaticon-fitness:before {
    content: map-get($flaticon-map, "fitness");
}
.flaticon-gymnast-silhouette-standing-with-dumbbells:before {
    content: map-get($flaticon-map, "gymnast-silhouette-standing-with-dumbbells");
}
.flaticon-jumping-rope:before {
    content: map-get($flaticon-map, "jumping-rope");
}
.flaticon-man-boxing:before {
    content: map-get($flaticon-map, "man-boxing");
}
.flaticon-man-doing-yoga-1:before {
    content: map-get($flaticon-map, "man-doing-yoga-1");
}
.flaticon-man-doing-yoga:before {
    content: map-get($flaticon-map, "man-doing-yoga");
}
.flaticon-pull-up:before {
    content: map-get($flaticon-map, "pull-up");
}
.flaticon-weightlifting:before {
    content: map-get($flaticon-map, "weightlifting");
}
